body {
  margin: 0;
  padding: 0;
  font-family: 'proxima-nova';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

h2, h3 {
  font-weight: lighter;
  font-family: 'Roboto Mono', monospace;
}

p {
  font-family: 'proxima-nova';
  font-size: 1.2rem;
}

p > span {
  background-color: #a164ff;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}

header {
  background-image: url(../images/header.png);
  background-size: cover;
  height: 400px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0.5rem;
}

li > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

li > a:hover {
  color: #00ffa1;
}

li > a:visited {
  color: none;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1260px) {
  .img2 > img {
    width: 100% !important;
  }
}

.hatsvg {
  padding: 50px;
  width: 60%;
}

.green-button {
  background-color: #00ffa1;
  color: #173873;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: lighter;
}

.green-button a {
  font-size: 1rem;
  text-decoration: none;
}

.green-button a:visited {
  color: #173873;
}

.highlight-blue {
  display: inline-block;
  padding: 10px;
  background-color: #173873;
  color: white !important;
  font-size: 2rem;
}

.what-is-header {
  position: absolute;
  top: 335px;
}

.header > h2 {
  font-size: 2.5rem;
  text-align: right;
  padding: 10px;
  margin-right: 200px;
  width: 45rem;
}

.header-green-highlight {
  background-color: #00ffa1;
  color: #173873;
  margin-right: 0px !important;

}

.header-blue-highlight {
  background-color: #173873;
  color: white;
}

#aoc_header {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  position: relative;
  top: 85px;
}

#aoc_header > * {
  font-size: 40px;
  margin: 0 !important;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1;
}

#aoc_header p {
  color: white;
}

#aoc_header h1 {
  font-family: 'Source Code Pro', monospace;
  color: #ffff66;
  padding: 10px 20px;
  text-shadow: 0 0 10px #ffff66;
}

/* menu */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

#hamburger {
  display: none
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: white;
}

.mobile-menu {
  z-index: 999;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background-color: #173873;
  height: 100%;
  width: 100%;
  top: 0;
  gap: 0;
  position: fixed;
  left: -130%;
  text-align: center;
  justify-content: space-between;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.mobile-menu li {
  height: 10px;
  margin: 16px 0;
  font-size: 40px;
  margin: 35px;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.close-icon {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  position: relative;
}

.close-icon:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '\d7';
  font-size: 50px;
  color: rgb(255, 255, 255);
  line-height: 100px;
  text-align: center;
}

@media only screen and (max-width: 1260px) {
  #web-menu {
    display: none;
  }

  #hamburger {
    display: block !important;
    cursor: pointer;
    padding: 10px;
    color: white;
  }

  .mobile-menu {
    display: flex;
    justify-content: space-around;
  }

  .mobile-menu > p {
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
  }

  .mobile-menu.active {
    left: 0;
  }

}

/* menu */

#what-is-advent {
  background-color: #173873;
  color: white;
  padding: 50px;
}

#how-it-works {
  color: #173873;
  padding: 100px;
}

#why-zbra-supports {
  background-color: #00ffa1;
  color: #173873;
  padding: 50px 0;
}

.content {
  padding: 10px 30px 30px 100px;
}

#join-with-zbra {
  background-color: #173873;
  color: white;
  padding: 100px 50px 100px 0;
}

.background-join-with-zbra {
  background-image: url(../images/ZBRABackgound.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  background-color: #a164ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
}

input[type="text"] {
  width: 350px;
  padding: 15px;
  border-radius: 5px;
}

input[type="submit"] {
  width: 100px;
  margin-left: -150px;
}

#get-ready {
  color: #173873;
  padding: 50px;
  text-align: center;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* media query cards-container */
@media only screen and (max-width: 1260px) {
  .cards-container {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.card {
  border-top: 5px solid #00ffa1;
  background-color: #173873;
  color: white;
  padding: 50px;
  margin: 10px;
  text-align: left;
}

/* media */
#meet-zbra {
  background-color: #173873;
  color: white;
  padding: 30px 30px 30px 0;
}

.background-meet-zbra {
  background-image: url(../images/footer.png);
  background-size: cover;

}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #173873;
  color: white;
  padding: 30px;
}

/* media query footer */
@media only screen and (max-width: 1260px) {
  footer {
    flex-direction: column;
  }
}

.social-media {
  display: flex;
  align-items: center;
  padding: 30px;
}

.social-media > a > img {
  margin: 0 10px;
  width: 50px;
}