h2 {
  font-size: 2rem;
  color: #173873;
  font-weight: 100;
  font-family: 'Roboto Mono', monospace;
  padding-right: 20px;
}

p {
  color: #173873;
  font-family: 'proxima-nova';
}

p > span {
  background-color: #a164ff;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.page-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advent-content {
  font-size: 20px;
  width: 50%;
  padding-right: 60px;
}

/* media query advent-content */
@media (max-width: 768px) {
  .advent-content {
    width: 100%;
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .page-section {
    flex-direction: column;
    align-items: flex-start;
  }
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* CONTENT MEIO GERALZÃO CRIA UMA COLUNA 50% DA TELA */
.socialmedia{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialmedia a {
  padding: 10px;
}

/* HEADER DA PÁGINA E MENU */
li {
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  padding: 10px;
}

li a:hover {
  color: #00ffa1 !important;
}

li > p {
  color: white;
}

header {
  background-image: url(./assets/header.png);
  padding: 1rem;
  height: 340px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 160px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 20px;
}

.green-button {
  background-color: #00ffa1;
  color: #173873;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: lighter;
}
/* FIM */

/* LOGO + ADVENT */
.adventofcode {
  font-family: 'Source Code Pro', monospace;
  color: #ffff66 !important;
  padding: 10px 20px;
  text-shadow: 0 0 10px #ffff66;
}

.zbraplusadvent p {
  font-size: 44px;
  color: white;
}
/* FIM */

/* O QUE É O ADVENT OF CODE */
#what-is-advent {
  background-color: #173873;
  padding: 30px;
}

#what-is-advent img {
  width: 40vh;
  float: right;
}

#what-is-advent p {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: left;
}

/* media query mobile */
@media (max-width: 768px) {
  #what-is-advent img {
    width: 100%;
    padding-top: 120px !important;
    padding-bottom: 20px;
  }
}

/* FIM */

/* COMO FUNCIONA */
#how-it-works {
  color: #173873;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

/* media query how it works */
@media (max-width: 768px) {
  #how-it-works {
    padding: 50px;
  }
}

#how-it-works > h2 {
  background-color: #173873;
  color: white;
  padding: 10px;
  display: inline;
}

.how-it-works-content {
  padding-top: 20px;
}
/* FIM */

/* PORQUE A ZBRA APOIA */
#whyzbrasupports {
  padding: 30px 30px 30px 0px;
  background-color: #00ffa1;
}

#whyzbrasupports h2 {
  color: #173873;
}

#whyzbrasupports img {
  width: 100%;
}

.support-content {
  padding: 2rem 10rem;
}

/* media query mobile support-content */
@media (max-width: 768px) {
  #whyzbrasupports {
    padding: 30px 0;
  }

  .support-content {
    padding: 2rem
  }
}

/* FIM */

/* PARTICIPE COM A ZBRA */

#joinwithzbra {
  background-color: #173873;
  background-image: url(./assets/ZBRABackgound.svg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#joinwithzbra p {
  color: white;
}

#joinwithzbra input[type="text"] {
  height: 40px;
  width: 350px;
  background-color: #a164ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}

#joinwithzbra input[type="submit"] {
  margin-left: -150px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  background: #a164ff;
  color: white;
  border: 0;
  border-radius: 5px;
}

/* FIM */

/* PREPARE-SE */
#getready {
  color: #173873;
  padding: 10vh 10vh;
}

#getready h2 {
  color: #173873;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#getready h2 > span {
  background-color: #173873;
  color: white;
  padding: 10px;
}

#getready .card {
  border-top: 5px solid #00ffa1;
  background-color: #173873;
  color: white;
  padding: 30px;
  margin: 20px;
  width: 50vh;
  height: 50vh;
  font-size: 20px;
  text-align: left;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* media query card */
@media (max-width: 1080px) {
  #getready {
    padding: 6vh 5vh;
  }

  #getready .card {
    width: 100%;
    height: 100%;
  }
  .card-content {
    flex-direction: column;
  }
}

.card p {
  color: white;
}
/* FIM */

/* CONHEÇA A ZBRA */
#meetzbra {
  background-image: url(./assets/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  padding: 5vh 5vh 5vh 0;
}

#meetzbra p {
  color: white;
}

.zbrabtn, .zbrabtn a {
  background-color: #00ffa1;
  color: #173873;
  border: 0;
  font-size: 20px;
  padding: 20px;
  margin: 10px;
}
/* FIM */

/* Footer */
footer {
  background-color: #173873;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

footer p {
  color: white;
}

@media (max-width: 768px) {
  footer {
    background-color: #173873;
    flex-direction: column;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer p {
    margin-top: 10px;
    font-size: 20px;
  }

  footer .logo-footer {
    width: 100px;
  }
}

/* FIM */

/* headers */
#joinwithzbra h2, #meetzbra h2{
  color: white;
}

.header-what-is-advent {
  position: absolute;
  top: 320px;
  width: 50% !important;
}

.header-section {
  display: block;
  left: 0;
  text-align: end;
  width: 60%;
  padding-right: 10px;
}

/* media query mobille .header-section */
@media (max-width: 768px) {
  .header-section {
    display: block;
    left: 0;
    text-align: end;
    width: 100%;
    padding-right: 10px;
  }
}

.highlight-green {
  padding: 10px;
  background: #00ffa1;
  text-align: right;
  color: #173873 !important;
}

.highlight-blue {
  padding: 10px;
  background: #173873;
  text-align: right;
  color: white !important;
}

/* FIM */
.hamburger {

}