h2 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 100;
  font-family: 'Roboto Mono', monospace;
}

p {
  color: #173873;
  font-family: 'proxima-nova';
}

p > span {
  background-color: #a164ff;
  color: white;
  font-weight: bold;
  padding: 0.2rem;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* CONTENT MEIO GERALZÃO CRIA UMA COLUNA 50% DA TELA */
.adventcontent {
  width: 50%;
  color: white;
  font-size: 22px;
  font-weight: lighter;
  text-align: left;
}

.socialmedia{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialmedia a {
  padding: 10px;
}

/* HEADER DA PÁGINA E MENU */
li {
  list-style: none;
  padding: 10px;
}

li a:hover {
  color: #00ffa1 !important;
}

li > p {
  color: white;
}

header {
  background-image: url(./assets/header.png);
  padding: 1rem;
  height: 340px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 20px;
}

.image-logo {
  width: 140px;
}

.green-button {
  background-color: #00ffa1;
  color: #173873;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  font-weight: lighter;
}
/* FIM */

/* LOGO + ADVENT */
.adventofcode {
  font-family: 'Source Code Pro', monospace;
  color: #ffff66 !important;
  padding: 10px 20px;
  text-shadow: 0 0 10px #ffff66;
}

.zbraplusadvent p {
  font-size: 44px;
  color: white;
}
/* FIM */

/* O QUE É O ADVENT OF CODE */
.header-what-is-advent {
  position: absolute;
  top: 320px;
  left: 0;
  width: 50%;
  padding: 10px;
  text-align: right;
  background-color: #00ffa1;
  color: #173873;
}

#what-is-advent {
  background-color: #173873;
  color: white;
  padding: 30px;
}

#what-is-advent img {
  width: 30%;
}

#what-is-advent p {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: left;
}

#what-is-advent .textwhatis {
  width: 30%;
  font-size: 18px;
  padding: 60px;
}

/* FIM */

/* COMO FUNCIONA */
#howitworks {
  color: #173873;
  align-items: center;
  justify-content: center;
  padding: 15vh 20vh;
}

.howitworkstitle {
  background-color: #173873;
  color: white;
  padding: 10px;
  display: inline;
}

.howitworkstext {
  font-size: 18px;
  font-weight: lighter;
  color: white;
  text-align: left;
  padding: 10px;
}

.howitworkstext > p {
  color: #173873;
  padding-top: 10px;
}
/* FIM */

/* PORQUE A ZBRA APOIA */
#whyzbrasupports {
  background-color: #00ffa1;
}

.whyzbrasupportstitle{
  display: block;
  left: 0;
  text-align: end;
  width: 60%;
}

.whyzbrasupportstxt {
  padding: 1vh 8vh;
}

.whyzbrasupportslbl {
  padding: 10px;
  background: #173873;
  text-align: right;
  color: white !important;
}

#whyzbrasupports h2 {
  color: #173873;
}

#whyzbrasupports p {
  color: #173873;
}
/* FIM */

/* PARTICIPE COM A ZBRA */
.joinwithzbralbl {
  padding: 10px;
  background: #00ffa1;
  text-align: right;
  color: #173873 !important;
}

#joinwithzbra {
  background-color: #173873;
  height: 40rem;
}

.joinwithzbrabackground {
  background-image: url(./assets/ZBRABackgound.svg);
  background-size: cover;
}


#joinwithzbra p {
  color: white;
}

#joinwithzbra h2 > span, #meetzbra h2 > span {
  background-color: #00ffa1;
  color: #173873;
  text-align: right;
  display: block;
  left: 0;
  text-align: end;
  width: 60%;
}

input[type="text"] {
  height: 40px;
  width: 350px;
  background-color: #a164ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
}

input[type="submit"] {
  margin-left: -150px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  background: #a164ff;
  color: white;
  border: 0;
  border-radius: 5px;
}

/* FIM */

/* PREPARE-SE */
#getready {
  color: #173873;
  padding: 5vh 10vh;
}

#getready h2 {
  color: #173873;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#getready h2 > span {
  background-color: #173873;
  color: white;
  padding: 10px;
}

#getready .card {
  border-top: 5px solid #00ffa1;
  background-color: #173873;
  color: white;
  padding: 30px;
  margin: 20px;
  width: 40vh;
  height: 30rem;
  font-size: 20px;
}

.card p {
  color: white;
}
/* FIM */

/* CONHEÇA A ZBRA */
#meetzbra {
  background-image: url(./assets/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
}

#meetzbra p {
  color: white;
}

.zbrabtn, .zbrabtn a {
  background-color: #00ffa1;
  color: #173873;
  border: 0;
  font-size: 20px;
  padding: 20px;
  margin: 10px;
}
/* FIM */

/* Footer */
footer {
  background-color: #173873;
  color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px 50px 10px 50px;
}

footer p {
  color: white;
}

@media (max-width: 768px) {
  footer {
    background-color: #173873;
    flex-direction: column;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer p {
    margin-top: 10px;
    font-size: 20px;
  }

  footer .logo-footer {
    width: 100px;
  }
}

/* FIM */